extends layout

block content
  .container
    .row
      .panel.panel-success
        .panel-heading
          h3.panel-title Referral Bonus - Up To $20
        .panel-body
          | At Just Better Computers, we'd much rather give our advertising dollars back to our customers than to anyone else, and that's exactly what we do. If you refer a new customer to us and they pay for a service, we'll give you 20% of the money, and we'll give the person you refer a 10% discount.
    .row
      img.img-responsive.logo(src='/images/jbc_logo.png')
    .row  
      p.lead
        | At Just Better Computers, we want to change what you expect from a computer service provider. We aim to live up to our name and be Just Better, in every way. For us, the customer really does come first.
    .row  
      .panel.panel-default
        .panel-heading
          h3.panel-title 
            | Why we're Just Better:
        table.table.table-striped.table-responsive.table-bordered
          thead
            tr
              each val in comparisonTable.headings
                th= val
          tbody
            each val,index in comparisonTable.body
              tr
                each val in comparisonTable.body[index].rowData
                  td= val
      .row
        h2
          | Our Values:
      .row
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          .well.well-principles
            h3 Reliability
            p
              | We earn your trust by doing what we say we'll do, putting your needs and best interests ahead of profits, and delivering exceptional service time after time. If you ever have a concern, we'll do everything we can to ensure your satisfaction. We love happy customers.
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          .well.well-principles
            h3 Promptness
            p
              | We know you're in a hurry to get things back up and running, and we want to help. That's why we're open until 9 P.M. 7 days a week, keep many parts in stock, and offer cheap 1 day shipping on most other parts. This allows us to offer you an average turnaround time of 0-2 days.
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          .well.well-principles
            h3 Convenience
            p
              | Getting your computer or other device fixed should be easy. We make sure it is by offering remote assistance when possible as well as free house calls and pickup/delivery service in Milledgeville. We will travel as far as 40 miles from Milledgeville for $10-$25 depending on distance.
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          .well.well-principles
            h3 Affordability
            p
              | We believe in giving you a fair price, even if it means less profit for us. That's why we never charge more than $95 for labor. We also don't mark up our parts like other companies, meaning you always get the best price on parts, and we'll never try to sell you something you don't need.
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          .well.well-principles
            h3 Friendly Service
            p
              | We don't believe professionalism has to be overly formal. We'd rather be treated like friends than customers, and we hope you would too. Lots of our customers have been with us for many years now and seem like family(See our Testimonials page). We look forward to meeting and helping you.
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          .well.well-principles
            h3 Giving Back
            p
              | Just Better Computers wouldn't exist without you and many other great people. We feel very grateful that we have been fortunate enough to receive so much support, and we want to pay it forward. Every month, 10% of our profits will go to charitable donations and acts(See our Giving Back page).