extends layout

block content
  .container
    #accordion.panel-group
      - for (var i = 0; i < serviceList.length; i++)
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse'+i)
                = serviceList[i].name
          div(id='collapse'+i).panel-collapse.collapse
            .panel-body
              = serviceList[i].description
          