extends layout

block content
  .container
    #accordion.panel-group
      - for (var i = 0; i < serviceList.length; i++)
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse'+i)
                = serviceList[i].name
          div(id='collapse'+i).panel-collapse.collapse
            .panel-body
              - if (typeof serviceList[i].description.summary !== 'undefined') {
                h4= serviceList[i].description.summary
                br
              - }
              - if (typeof serviceList[i].description.list !== 'undefined') {
                h4
                  | Service Overview:
                ul
                  each item in serviceList[i].description.list
                    li= item
              - }
              - if (typeof serviceList[i].description.note !== 'undefined') {
                br
                .note
                  = "*Note: " + serviceList[i].description.note
              - }
        