@font-face {
  font-family: 'gputeks';
  src: url('/fonts/gputeks-edit-webfont.eot');
  src: url('/fonts/gputeks-edit-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/gputeks-edit-webfont.woff') format('woff'), url('/fonts/gputeks-edit-webfont.ttf') format('truetype'), url('/fonts/gputeks-edit-webfont.svg#gputeksbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.logo-container {
  font-family: gputeks;
  font-size: 40px;
  position: relative;
  line-height: normal;
}
.logo-container > * {
  position: absolute;
}
.logo-container .j,
.logo-container .ust {
  color: #ff0000;
}
.logo-container .b,
.logo-container .etter {
  color: #00ff00;
}
.logo-container .c,
.logo-container .omputers {
  color: #0000ff;
}
.logo-container .j {
  font-size: 2.12em;
  top: 0.74em;
  left: 0.52em;
}
.logo-container .b {
  font-size: 2.12em;
  top: 1.55em;
  left: 0.76em;
}
.logo-container .c {
  font-size: 5em;
  top: 0;
  left: 0;
}
.logo-container .ust {
  font-size: 1.4em;
  top: 1.64em;
  left: 1.5em;
}
.logo-container .etter {
  font-size: 1.4em;
  top: 2.52em;
  left: 2.14em;
}
.logo-container .omputers {
  font-size: 1.2em;
  top: 3.93em;
  left: 2.5em;
}
