body {
  padding-top: 50px;

  .navbar {
    font-family: gputeks;
    font-size: 21px;

    .navbar-brand {
      padding: 5px 0px;
      margin-left: auto;

      & > img {
        max-width: 160px;
        display: inline-block;
      }
    }
  }

  #wrap {
    .text-center;
    padding: 40px 15px;
    margin: 15px;

    .container {
      max-width: none;
    }
  }
}
p.phone {
  margin-top: 27.5px;
  line-height: 1.42857;
  color: #1241e6;
  text-shadow: 0 0 .12em  #000000; 
}
.spacing {
margin: 0px 10px;
}
.navbar-collapse {
line-height: 0px;
text-align: center;
}
.navbar-nav {
float: none;
display: inline-block;
}
.navbar-nav > li > a {
  padding: 32.5px 15px;
}
@media (max-width: 767px) { 
  .navbar-nav > li > a {
    padding: 10px 15px;
  }
}
button.navbar-toggle {
  top: 18px;
}
.dropdown-menu {
	font-size: 19px;
}
.dropdown-menu {
  back
  & > li {
    & > a {
      color: #999999;
    }
  }
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
background-color: #222222;
background-image: none;
}
.well-principles{
  margin: 15px 0px;
  min-height: 265px;
}
/*.navbar-inverse .navbar-nav > li > a {
color: #bbbbbb;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
background-color: #222222;
}
.navbar-inverse {
background-color: #444444;
}*/


// Sticky Footer
html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

#push, footer {
  height: 80px;
}

footer {
	margin-top: 40px;
	padding: 32px 0px;
	background: #f0f0f0;
}
// End Sticky Footer




