//variables
@lighterGrey: lighten(@grey, 8%);
@lightGrey: lighten(@grey, 5%);
@grey: #999;
@darkGrey: darken(@grey, 5%);
@darkerGrey: darken(@grey, 8%);

@white: #fdfdfd;

body {
  padding-top: 50px;

  .navbar {
    font-family: gputeks;
    font-size: 21px;

    .navbar-header {
      button.navbar-toggle {
        top: 18px;
      }

      .navbar-brand {
        padding: 5px 0px;
        margin-left: 8px;

        & > img {
          max-width: 160px;
          display: inline-block;
        }
      }
    }

    .navbar-collapse {
      line-height: 0px;
      text-align: center;
      padding: 0px 8px;

      .navbar-nav {
        float: none;
        display: inline-block;

        .open {

          a {
            background-color: #222222;
          }
          ul.dropdown-menu {
            display: none;
          }
        }
      
        li {
          a {
            padding: 32.5px 15px;
          }

          a:focus {
            color: #999999;
          }

          a:hover {
            color: @white
          }

          ul.dropdown-menu {
            font-size: 19px;
            border: 0px;
            box-shadow: none;

            li {
              a {
                color: #999999;
              }
              @media (min-width: 768px) {
                a {
                  padding: 10px 15px;
                }
              }

              a:hover {
                background-color: #222222;
                background-image: none;
                color: @white;      
              }
            }
          }
        }

        @media (max-width: 767px) { 
          li {
            a {
              padding: 10px 15px;
            }
          }
        }
      }

      p.phone {
        margin-top: 27.5px;
        line-height: 1.42857;
        color: #1241e6;
        text-shadow: 0 0 .12em  #000000; 
      }
    }
  }

  #wrap {
    .text-center;
    padding: 40px 15px;
    margin: 15px;

    .container {
      max-width: none;
    
      .row {
        .well.well-principles{
          margin: 15px 0px;
          min-height: 265px;
        }
      }
    }
  }
}

// Sticky Footer
html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

#push, footer {
  height: 80px;
}

footer {
	margin-top: 40px;
	padding: 32px 0px;
	background: #222;
}
// End Sticky Footer




